.moviecard {
    width: 100%;
    height: 134px;
    background-color: #f9f9f9;
    margin: 0 0 40px;
    position: relative;
}

.moviecard__info {
    margin: 22px;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.moviecard__container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    cursor: pointer;
    width: 100%;
}

.moviecard__name {
    font-family: 'Inter', Arial, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    margin: 0;
    padding: 0;
}

.moviecard__duration {
    font-family: 'Inter', Arial, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 11px;
    line-height: 13px;
    color: #A0A0A0;
    margin: 13px 0 0;
    padding: 0;
}

.moviecard__icon {
    /*margin: 30px 0 0;*/
    padding: 0;
    width: 14px;
    height: 12px;
    background-repeat: no-repeat;
    background-position: center center;
    border: none;
    background-color: transparent;
    cursor: pointer;
    position: absolute;
    left: 22px;
    bottom: 22px;
}

.moviecard__icon:hover {
    opacity: 0.8;
}

.moviecard__icon-dislike {
    background-image: url(../../images/dislike.svg);
}

.moviecard__icon-like {
    background-image: url(../../images/like.svg);
}

.moviecard__icon-delete {
    background-image: url(../../images/delete.svg);
}

.moviecard__thumbnail {
    width: 220px;
    height: 122px;
    margin: auto 0;
}

@media screen and (max-width: 600px) {
    .moviecard__thumbnail {
        width: 300px;
        height: 168px;
        margin: auto 0;
    }

    .moviecard__name {
        font-size: 12px;
        line-height: 15px;
    }

    .moviecard__info {
        margin: 12px 14px 16px;
        flex-direction: row;
    }

    .moviecard__icon {
        margin: 0;
        left: 270px;
        bottom: 36px;
    }

    .moviecard__container {
        flex-direction: column-reverse;
    }

    .moviecard {
        height: 232px;
        margin: 0 0 20px;
    }
}