.searchform {
    width: 1140px;
    height: 72px;
    background-color: #f9f9f9;
    border-radius: 9px;
    margin: 70px auto 0;
    box-sizing: border-box;
    padding: 19px 30px 19px 19px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.searchform__block{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.searchform__icon {
    background-image: url(../../images/search.svg);
    background-repeat: no-repeat;
    width: 34px;
    height: 34px;
    background-position: center center;
    background-size: 22px 22px;
}

.searchform__input {
    font-family: 'Inter', Arial, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 20px;
    border: none;
    width: 500px;
    background-color: transparent;
    box-sizing: border-box;
    padding: 0 0 0 10px;
}

.searchform__input::placeholder {
    color: #A0A0A0;
}

.searchform__line {
    width:1px;
    height: 40px;
    border-left: 1px solid #E8E8E8;
    margin: 0 30px;
}

.searchform__button {
    background-image: url(../../images/search-button.svg);
    background-repeat: no-repeat;
    width: 34px;
    height: 34px;
    margin: 0 0 0 46px;
    background-position: center center;
    background-size: 34px 34px;
    border: none;
    background-color: transparent;
}

@media screen and (max-width: 1280px) {
    .searchform {
        width: 950px;
    }
}

@media screen and (max-width: 950px) {
    .searchform {
        width: 750px;
        margin: 80px auto 0;
        padding: 19px 20px 19px 19px;
    }

    .searchform__input {
        width: 350px;
    }

    .searchform__line {
        margin: 0 19px;
    }
}


@media screen and (max-width: 750px) {
    .searchform {
        width: 600px;
        padding: 19px 20px 19px 19px;
    }

    .searchform__input {
        width: 230px;
    }

    .searchform__line {
        margin: 0 19px;
    }
}

@media screen and (max-width: 600px){
    .searchform {
        width: 300px;
        /*padding: 19px 20px 19px 19px;*/
        flex-direction: column;
        justify-content: center;
    }
    .searchform__line {
        width:0;
        height: 0;
        margin: 0;
    }

    .searchform__block{
        align-items: center;
        justify-content: space-between;
    }

    .searchform__input {
        width: 150px;
    }
}