.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    max-width: 1140px;
    height: 74px;
}

.header__logo {
    background-image: url("../../images/logo.svg");
    background-repeat: no-repeat;
    height: 38px;
    width: 38px;
    background-size: 38px 38px;
}
