.filtercheckbox {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 14px;
    align-items: center;
}

.filtercheckbox__title {
    font-family: 'Inter', Arial, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 18px;
    padding: 0;
}

.filtercheckbox__checkbox {
    appearance: none;
    width: 52px;
    height: 36px;
    background-image: url(../../images/checkbox-unset.svg);
    background-size: 52px 36px;
    background-repeat: no-repeat;
    padding: 0;
    margin: 8px 0 0;
    cursor: pointer;
}
.filtercheckbox__checkbox:checked{
    background-image: url(../../images/checkbox-set.svg);
}