.navtab {
    height: 66px;
    display: flex;
    justify-content: center;
    gap: 10px;
}

.navtab__link {
    font-family: 'Inter', Arial, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 16px;
    color: #000;
    text-decoration: none;
    border-radius: 10px;
    background-color: #E8E8E8;
    border: none;
    width: 96px;
    height: 36px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    margin: 0;
}
.navtab__link:hover{
    opacity: 0.6;
}

@media screen and (max-width: 600px) {
    .navtab {
        height: 43px;
        gap: 6px;
    }

    .navtab__link {
        font-size: 10px;
        line-height: 16px;
        width: 82px;
        height: 26px;
        border-radius: 6px;
    }
}
